.movieContainer {
  display: flex;
  margin: 20px;
}

.movieImg {
  height: 400px;
  margin-right: 20px;
}

.movieInfo {
  margin-top: 20px;
  color: #2a363b;
}

.movieTitle {
  font-size: 24px;
}

.movieText {
  font-size: 14px;
}

.movieOverviewTitle {
  font-size: 18px;
}

.movieGenresTitle {
  font-size: 16px;
}

.additionalInfo {
  color: #2a363b;
  margin-left: 20px;
}

.additionalLink {
  font-size: 14px;
  padding-bottom: 5px;
}

.btn {
  margin-left: 20px;
  max-width: 100px;
  color: #fff;
  background-color: #bf2458;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2a363b;
}
